body {
  padding-top: 60px;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
  .gallery-section {
    margin-top: 1000px;
  }
}
@media only screen and (max-width: 1000px) {
  .navbar-brand{
    font-size: .93rem !important;
  }
  h1 {
    margin-top:120px !important;
    font-size: x-large !important;
  }
  }
#portfolio {
  margin-top: 1rem;
}

.close {
  font-size: 1.5rem;
}

.col-12 img {
  opacity: 0.7;
  cursor: pointer;
  margin: 2rem;
  width: 100%;
}

.col-12 img:hover {
  opacity: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* background-color: #2c3e50 !important; */

#mainNav {
  background-color: #2c3e50 !important; 
}
.gallery-section {
  margin-top: 3rem;
}
.dropdown-bcg {
  background-color: #2c3e50 !important;

}
.font-weight {
  font-weight: 700 !important;
}