/* Custom styles for the blue and gold theme */
:root {
    --main-blue: #0047AB;
    --main-gold: #FADA5E;
}


.navbar-dark .navbar-nav .nav-link {
    color: var(--main-gold);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--main-blue);
}

.jumbotron {
    background-color: var(--main-blue);
    color: var(--main-gold);
}

.card {
    border: 1px solid var(--main-blue);
}

footer {
    background-color: var(--main-blue);
}

.member-img {
    /* Creates a circular shape */
    border-radius: 50%; 

    /* Set the width and height to the same value to create a circle */
    width: 100px; 
    height: 100px;

    /* Ensures the image covers the circular area without being stretched */
    object-fit: cover; 

    /* Align the image center if it's not a square */
    object-position: center; 

    /* Optional: Adds a border around the image */
    border: 3px solid gold; 

    /* Optional: Adds a box shadow to create a "lifted" effect */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 

    /* Add some padding to the margin */
    margin: 5px;

}
